@font-face {
    font-family: "Myriad";
    src: url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
    src: url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Myriad";
    src: url("../../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Geometria";
    src: url("../../fonts/Geomrteia/Geometria-ThinItalic.otf");
    src: url("../../fonts/Geomrteia/Geometria-MediumItalic.otf");
    src: url("../../fonts/Geomrteia/Geometria-LightItalic.otf");
    src: url("../../fonts/Geomrteia/Geometria-HeavyItalic.otf");
    src: url("../../fonts/Geomrteia/Geometria-ExtraLightItalic.otf");
    src: url("../../fonts/Geomrteia/Geometria-Italic.otf");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Geometria";
    src: url("../../fonts/Geomrteia/Geometria.otf");
    src: url("../../fonts/Geomrteia/Geometria-Heavy.otf");
    src: url("../../fonts/Geomrteia/Geometria-Light.otf");
    src: url("../../fonts/Geomrteia/Geometria-Light_0.otf");
    src: url("../../fonts/Geomrteia/Geometria-Medium.otf");
    src: url("../../fonts/Geomrteia/Geometria-Thin.otf");
    src: url("../../fonts/Geomrteia/Geometria-ExtraLight.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Geometria";
    src: url("../../fonts/Geomrteia/Geometria-Bold.otf");
    src: url("../../fonts/Geomrteia/Geometria-ExtaBlack.otf");
    src: url("../../fonts/Geomrteia/Geometria-Bold.otf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Geometria";
    src: url("../../fonts/Geomrteia/Geometria-BoldItalic.otf");
    src: url("../../fonts/Geomrteia/Geometria-ExtraBlackItalic.otf");
    font-style: italic;
    font-weight: bold;
}